<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GROQ_API_KEY</key>
	<string>$(GROQ_API_KEY)</string>
	<key>MAPS_API_KEY</key>
	<string>$(MAPS_API_KEY)</string>
	<key>NAVIGATION_BACKEND_URL</key>
	<string>$(NAVIGATION_BACKEND_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.groq.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>PADDLEOCR_ACCESS_TOKEN</key>
	<string>$(PADDLEOCR_ACCESS_TOKEN)</string>
	<key>PADDLEOCR_API_URL</key>
	<string>$(PADDLEOCR_API_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
